@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
main {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.4rem;
  padding: 1.4rem;
}

.widget-preview {
  width: 50%;
}

.container {
  width: 50%;
  margin: 0 1.4rem;
}

.form {
  width: 100%;
}

#coinSelect {
  width: 100%;
  padding: 1rem;
  border-radius: 0.2rem;
  border: 0.1rem solid #e1e5ea;
  font-size: 1.2rem;
}

.widget-code {
  display: flex;
  width: 100%;
  border: 0.1rem solid #e1e5ea;
  border-radius: 0.2rem;
  height: 8.2rem;
  margin-top: 1.2rem;
  padding-top: 1rem;
  padding-left: 0.5rem;
}

.widget-code textarea {
  border: none;
  resize: none;
  overflow: hidden;
  width: 100%;
  height: 5.8rem;
}

.widget-code textarea:focus {
  outline: none;
}

.copy-button {
  border: none;
  background-color: inherit;
  padding-right: 0.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 997px) {
  main {
    flex-direction: column;
  }

  .widget-preview {
    margin-top: 1.2rem;
    width: 100%;
  }

  .container {
    width: 100%;
    margin: 0;
  }

  .widget-code {
    align-items: center;
  }

  .widget-code textarea {
    margin-top: 1rem;
  }
}
